name: daily

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:


jobs:
  daily-python-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.8' 
        
      - name: Install dependencies
        run: pip install -r requirements.txt 
        
      - name: Run Python script
        run: python main.py 
